.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: brown;
}
.nav ul{
  float: right;
  padding-top: 15px;
  padding-bottom: 5px;
}
.nav ul li{
  display: inline;
}
.nav ul li {
  color: #fff;
  padding: 25px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.top-50{
	margin-top:50px;
}